<!DOCTYPE html>
<html>
<head lang="en">

<title>Spring Framework Guru</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<div class="panel panel-default">
			<div class="panel-body">
				<h2>
					<span class="label label-primary">Dash Board</span>
				</h2>
				<ul class="list-group">
					<li class="list-group-item"><span class="badge">14</span>Today's Total Patients</li>
					<li class="list-group-item"><span class="badge">140</span>This Week Total Patients</li>
					<li class="list-group-item"><span class="badge">300</span>This Month Total Patients</li>					
					<li class="list-group-item"><span class="badge">400</span>Total patient Profile</li>
				</ul>
			</div>
		</div>

	</div>
</body>
</html>