<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>ENT Center,Jessore</title>


<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
<script>
  $(function() {
    $("#serialDate" ).datepicker();
  });
  </script>
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

		<div class="panel panel-default">
			<div class="panel-body">
				<h4>
					<span class="label label-primary">Enter Patient Information</span>
				</h4>
				<div>
					<form class="form-horizontal" th:object="${patient}"
						th:action="@{/patient}" method="post" action="#">
						<input type="hidden" th:field="*{id}" />

						<div class="form-group">
							<label class="col-sm-2 control-label">Name:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" th:field="*{name}" />
								<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Invalid
									Name</p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Age:</label>
							<div class="col-sm-10">
								<input type="number" class="form-control" th:field="*{age}" />
								<p th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Invalid
									Age</p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Mobile:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" th:field="*{mobile}" />
								<p th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}">Invalid
									Mobile</p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Serial Date:</label>
							<div class="col-sm-10">
							 <input type="text" id="serialDate" class="form-control" th:field="*{serialDate}"
							 th:value="${#dates.format(patient.serialDate,'MM/dd/yyyy')}"/>			

								<p th:if="${#fields.hasErrors('serialDate')}"
									th:errors="*{serialDate}">Invalid Date</p>
							</div>
						</div>						
						
						<div class="form-group">
							<div class="col-sm-10">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>

</body>
</html>