<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>ENT Center,Jessore</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

<script>
  $(function() {
    $("#serialDate" ).datepicker();
    
    $(".lnk").click(function() {
	    var $row = $(this).closest("tr");    // Find the row
	    var $name = $row.find(".name").text(); // Find the text	 
	    var $age = $row.find(".age").text(); 
	    var $serial = $row.find(".serial").text(); 	    
	    var $currentdate =  new Date().toLocaleString();
	    PrintElem('<div>'+'<p>Name: '+$name+'Age: '+$age+' Serial No: '+$serial+' Date: '+$currentdate+'</p>'+'</div>');
// 	    PrintElem('<div>'+'<p>Name: '+$name+'</p>'+'<p>Age: '+$age+'</p>'+'<p>Serial No: '+$serial+'</p>'+'<p>Date: '+$currentdate+'</p>'+'</div>');
	});   
    
  });
  
  function PrintElem(elem)
  {
      Popup($(elem).html());
  }

  function Popup(data) 
  {
      var mywindow = window.open('', 'Prescription', 'height=400,width=600');
      mywindow.document.write('<html><head><title></title>');
      /*optional stylesheet*/ //mywindow.document.write('<link rel="stylesheet" href="main.css" type="text/css" />');
      mywindow.document.write('</head><body >');
      mywindow.document.write('<div style="margin-top:3cm">');
      
      mywindow.document.write(data);
      mywindow.document.write('</div>');
      
      mywindow.document.write('</body></html>');

      mywindow.print();
      mywindow.close();

      return true;
  }
  
  
  </script>
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

		<div class="panel-group">	
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>
						<span class="label label-primary">Patient's Serial Search</span>
					</h4>
					<form class="form-horizontal" th:object="${serial}"
						th:action="@{/patient/serialSearchResults}" method="post">				
						<div class="form-group">
							<label class="col-sm-2 control-label">Search Date:</label>
							<div class="col-sm-10">
							 <input type="text" id="serialDate" class="form-control" th:field="*{serialDate}"
							 th:value="${#dates.format(serial.serialDate,'MM/dd/yyyy')}"/>
							 								<p th:if="${#fields.hasErrors('serialDate')}"
									th:errors="*{serialDate}">Invalid Date</p>
							</div>
						</div>						
						<div class="form-group">
						<div class="col-sm-10">
							<button type="submit" class="btn btn-primary">Submit</button>
								</div>
						</div>
					</form>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-body">

					<h4>
						<span class="label label-primary">Search results for date </span>
					</h4>

					<table class="table table-striped">
						<tr>
							<th>No.</th>
							<th>Patient Name</th>
							<th>Age</th>							
							<th>Mobile</th>								
							<th>Serial Number</th>
							<th>Remarks</th>
							<th>Print</th>
							
						</tr>
						<tr th:each="serial : ${serials}">
							<td th:text="${serial.item_no}"></td>
							<td class="name" th:text="${serial.name}">Name</td>
							<td class="age" th:text="${serial.age}">Age</td>							
							<td th:text="${serial.mobile}">Mobile</td>							
							<td class="serial" th:text="${serial.serialNumber}">Serial Number</td>
							<td th:text="${serial.remarks}">Remarks</td>
							<td><a href="#" class="lnk">Print</a></td>
						</tr>
					</table>
				</div>
			</div>
		</div>





	</div>

</body>
</html>