<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>ENT Center,Jessore</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

<script>
  $(function() {
    $("#serialDate" ).datepicker();
  });
  </script>
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>
						<span class="label label-primary">Patient Profile</span>
					</h4>

					<div>
						<form class="form-inline" th:object="${patient}">
							<div class="form-group">
								<label>Patient Id|</label>
								<div>
									<p class="form-control-static" th:text="${patient.id}">Patient
										Id</p>
								</div>
							</div>

							<div class="form-group">
								<label>Name|</label>
								<div>
									<p class="form-control-static" th:text="${patient.name}">Name</p>
								</div>
							</div>
							<div class="form-group">
								<label>Age|</label>
								<div>
									<p class="form-control-static" th:text="${patient.age}">Age</p>
								</div>
							</div>
							<div class="form-group">
								<label>Mobile</label>
								<div>
									<p class="form-control-static" th:text="${patient.mobile}">Mobile</p>
								</div>
							</div>
						</form>
					</div>

				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>
						<span class="label label-primary">Patient Serial Entry</span>
					</h4>
					<form class="form-horizontal" th:object="${serial}"
						th:action="@{/serialEntry}" method="post">
<!-- 						<input type="hidden" th:field="*{id}" /> -->
						<input type="hidden" th:field="*{patientProfileId}" />
						<div class="form-group">
							<label class="col-sm-2 control-label">Serial Date:</label>
							<div class="col-sm-10">
							 <input type="text" id="serialDate" class="form-control" th:field="*{serialDate}"
							 th:value="${#dates.format(serial.serialDate,'MM/dd/yyyy')}"/>			

								<p th:if="${#fields.hasErrors('serialDate')}"
									th:errors="*{serialDate}">Invalid Date</p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Remarks:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" th:field="*{remarks}" />
							</div>
						</div>
						<div class="form-group">
						<div class="col-sm-10">
							<button type="submit" class="btn btn-primary">Submit</button>
								</div>
						</div>
					</form>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-body">

					<h4>
						<span class="label label-primary">Patient Serials</span>
					</h4>

					<table class="table table-striped">
						<tr>
							<th>Id</th>
							<th>Serial Date</th>
							<th>Serial Number</th>
							<th>Remarks</th>
						</tr>
						<tr th:each="serial : ${serials}">
							<td th:text="${serial.id}"></td>
							<td th:text="${serial.serialDate}">Serial Date</td>
							<td th:text="${serial.serialNumber}">Serial Number</td>
							<td th:text="${serial.remarks}">Remarks</td>
						</tr>
					</table>
				</div>
			</div>
		</div>





	</div>

</body>
</html>